%% -*- erlang -*-
{erl_opts, [warnings_as_errors,
  warn_export_all,
  warn_untyped_record,
  inline,
  {platform_define, "^(18)", 'NO_DIALYZER_SPEC'}]}.

{xref_checks, [fail_on_warning, undefined_function_calls]}.

{clean_files, [".eunit/*", "ebin/*.beam"]}.

{deps, []}.

{shell, [
  {apps, [erlretry]}
]}.

{dialyzer, [{warnings, [error_handling, race_conditions, unmatched_returns, unknown, no_improper_lists]}]}.

{profiles, [{native, [{erl_opts, [{d, 'ENABLE_HIPE'}]}]},
  {edown, [{edoc_opts, [{doclet, edown_doclet}]}, {deps, [edown]}]}]}.

{project_plugins, [covertool, rebar3_efmt]}.
{cover_export_enabled, true}.
{covertool, [{coverdata_files, ["ct.coverdata", "eunit.coverdata"]}]}.